// Dimensions
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

// Colors
$primary: #323232; // Nav, foot, primary CTA
$secondary: #FAFAFA; // Alabaster
$tertiary: rgba(196, 196, 196, 1);
$baseColor: rgba(230, 0, 40, 1);
$baseColorFade: rgba(230, 0, 40, 0.7);
$baseAlt: #e9bb15;
$baseAltSoft: #f9e9b0;
$border: 1px solid $baseColor;
